{
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "htmlWhitespaceSensitivity": "css",
    "singleQuote": true,
    "printWidth": 90,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}